* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: 20%;
  margin: 20px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.notes-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.button {
  position: relative;
  right: auto;
}

.notes {
  display: grid;
  grid-template-columns: 200px, 1fr 1fr;
  grid-template-rows: minmax(50px, auto);
  grid-gap: 5px;
  margin: 20px;
  padding: 10px;
  height: auto;
  width: 20%;
  border-radius: 5px;
  border: solid lightgray 1px;
  overflow: hidden;
  word-break: break-word;
}

.note-text {
  font-weight: bold;
  font-size: 20px;
  font-family: "Work sans", sans-serif;
  line-height: 25px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}
